$purple: #6610f2;
$white: #f9f9f9;
$white-200: #eaeaea;
$gray: #2f2f2f;
$blue-gradient: linear-gradient(136.92deg, #2dc7ed, #2dc7ed00);
$red-gradient: linear-gradient(136.92deg, #ef7c89, rgba(239, 124, 137, 0));
$yellow-gradient: linear-gradient(270deg, #f2c94c, rgba(242, 201, 76, 0));
$purple-gradient: linear-gradient(270deg, #7248ec, rgba(114, 72, 236, 0));
$green-gradient: linear-gradient(180deg, #00e861, rgba(0, 232, 97, 0));
